body{
    background: #000;
}


.rectangle1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1368px;
    height: 131px;
    background: black;
    background-blend-mode: normal;
}
.home {
    position: absolute;
    width: 33px;
    height: 15px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }
.aboutMe {
    position: absolute;
    width: 55px;
    height: 15px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }
.projects {
    position: absolute;
    width: 46px;
    height: 15px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
  }
.testimonials{
    position: absolute;
    width: 46px;
    height: 15px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}
.contactMe {
    position: absolute;
    width: 66px;
    height: 15px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}
.logo{
    position: absolute;
  left: 99px;
  top: 17px;
  width: 290px;
  height: 97px;

}
.rectangle3 {
    position: absolute;
    left: 800px;
    top: 58px;
    width: 70px;
    height: 39px;
    background: #665b5b;
    background-blend-mode: normal;
}
.rectangle4 {
    position: absolute;
    left: 900px;
    top: 58px;
    width: 70px;
    height: 39px;
    background: #665b5b;
    background-blend-mode: normal;
  }
.rectangle5 {
    position: absolute;
    left: 1200px;
    top: 58px;
    width: 70px;
    height: 39px;
    background: #665b5b;
    background-blend-mode: normal;
  }
.rectangle6 {
    position: absolute;
    left: 1100px;
    top: 58px;
    width: 70px;
    height: 39px;
    background: #665b5b;
    background-blend-mode: normal;
  }
.rectangle7{
    position: absolute;
    left: 1000px;
    top: 58px;
    width: 70px;
    height: 39px;
    background: #665b5b;
    background-blend-mode: normal;

}
.main{
    position: absolute;
  left: 0px;
  top: 131px;
  width: 1368px;
  height: 651.5px;
  background: black;
  background-blend-mode: normal;
}
.intro{
    width: 529px;
    margin-top: 70px;
    height: 265px;
    color: #FFF;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
    flex-shrink: 0;
}
.img {
    flex-shrink: 0;
    border-radius: 102px;
    background: url('images/me.jpg');
}
.rectangle9{
    width: 318px;
height: 77px;
flex-shrink: 0;
border-radius: 170px;
background: #C53D2B;
margin-left: 500px;
margin-top: 100px;
}
.aboutme{
width: 318px;
height: 77px;
flex-shrink: 0;
border-radius: 170px;
color: #FFF;
background: #C53D2B;
margin-top: 892px;
margin-left: 500px;
}
.about-img{
    width: 206px;
height: 206px;
flex-shrink: 0;
}
.rectangle21{
width: 775px;
height: 513px;
flex-shrink: 0;
margin-top: 0px;
fill: rgba(53, 49, 49, 0.48);
}
.education{
width: 150px;
height: 26px;
color: #FFF;
flex-shrink: 0;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.experience{
width: 150px;
height: 26px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.skills-title{
    width: 318px;
    height: 77px;
    flex-shrink: 0;
    color: white;
    background-color: #C53D2B;
    margin-left: 500px;
    border-radius: 170px;
}
.rectangle11{
    width: 260px;
height: 247px;
margin-top: 50px;
flex-shrink: 0;
}
.rectangle18{
    width: 260px;
height: 247px;
flex-shrink: 0;
}
.rectangle17{
    width: 260px;
height: 247px;
flex-shrink: 0;
}
.rectangle16{
    width: 260px;
height: 247px;
flex-shrink: 0;
}
.project-title{
    width: 318px;
height: 77px;
flex-shrink: 0;
background-color: #C53D2B;
border-radius: 170px;
color: #FFF;
margin-left: 500px;
}
.rectangle22{
    width: 260px;
height: 247px;
margin-left: 20px;
flex-shrink: 0;
}
.rectangle37{
    width: 388px;
height: 150px;
margin-left: -138px;
flex-shrink: 0;
background: #625050;
}
.rectangle40{
    width: 388px;
height: 150px;
flex-shrink: 0;
background: #625050;
}
.Tools-title{
    width: 364px;
height: 77px;
flex-shrink: 0;
margin-left: 500px;
color: #FFF;
background-color: #C53D2B;
border-radius: 170px;
}
.rectangle45{
    width: 187px;
height: 61px;
flex-shrink: 0;
background: #756868;
}
.rectangle49{
    width: 187px;
    margin-left: 20px;
height: 61px;
flex-shrink: 0;
background: #756868;
}
.rectangle52{
    width: 187px;
height: 61px;
margin-left: 20px;
flex-shrink: 0;
background: #756868;
}
.rectangle46{
    width: 187px;
height: 61px;
margin-left: 20px;
background: #756868;
flex-shrink: 0;
}
.Testimonial-Title{
    width: 318px;
    height: 77px;
    flex-shrink: 0;
    background-color: #C53D2B;
    border-radius: 170px;
    color: #FFF;
    margin-left: 500px;
    margin-top: 50px;
}
.rectangle57{
    width: 300px;
height: 177px;
flex-shrink: 0;
border-radius: 50px;
background: #D9D9D9;
}
.rectangle59{
    width: 300px;
height: 177px;
flex-shrink: 0;
border-radius: 50px;
background: #D9D9D9;
}
.rectangle60{
width: 300px;
height: 177px;
flex-shrink: 0;
border-radius: 50px;
background: #D9D9D9;
}
.contact-title{
    width: 364px;
height: 77px;
flex-shrink: 0;
background-color: #C53D2B;
margin-left: 500px;
border-radius: 170px;
color: white;
margin-top: 50px;
}
.rectangle27{
    width: 1200px;
    height: 576px;
    flex-shrink: 0;
    border-radius: 90px;
background: #353131;
}
.rectangle28{
    width: 668px;
height: 476px;
margin-top: 50px;
margin-left: 50px;
flex-shrink: 0;
border-radius: 30px;
background: #895757;
}
